services:
  caddy:
    build:
      context: .
      dockerfile_inline: |
        FROM caddy:builder AS builder
        RUN xcaddy build --with github.com/tailscale/caddy-tailscale
        FROM caddy:latest
        COPY --from=builder /usr/bin/caddy /usr/bin/caddy
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "8096:8096" # Local native port
    volumes:
      - /mnt/das_fast/personal.data.adishy.com/tmp/apps/caddy/Caddyfile:/etc/caddy/Caddyfile
      - /mnt/das_fast/personal.data.adishy.com/tmp/apps/caddy/data:/data
      - /mnt/das_fast/personal.data.adishy.com/tmp/apps/caddy/config:/config
      # IMPORTANT: Caddy uses this to talk to Tailscale
      - /var/run/tailscale/tailscaled.sock:/var/run/tailscale/tailscaled.sock
    networks:
      - crt_service_intranet

networks:
  crt_service_intranet:
    external: true
