# Immich Version (release is recommended for 2026)
IMMICH_VERSION=release

# --- PATHS (Following your convention) ---
UPLOAD_LOCATION=/mnt/das_fast/personal.data.adishy.com/media/pictures
DB_DATA_LOCATION=/mnt/das_fast/personal.data.adishy.com/config/hosts/crt/apps/immich/postgres
ML_CACHE_LOCATION=/mnt/das_fast/personal.data.adishy.com/tmp/apps/immich/model-cache

# --- DATABASE ---
# DB_PASSWORD="" # TODO: Add a secure password
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# --- NVIDIA SETTINGS ---
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
