services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin

    user: 1000:1000
    networks:
     - crt_service_intranet
    volumes:
      - ${CONFIG_STORAGE_LOCATION}:/config
      - ${CACHE_STORAGE_LOCATION}:/cache
      - ${MEDIA_STORAGE_LOCATION}:/data/media:ro
    # 2GB RAM Disk for SSD-safe, high-speed transcoding
    tmpfs:
      - /transcode:size=2G
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: 'unless-stopped'

networks:
  crt_service_intranet:
    external: true
